{{!-- <li>
  <div data-id='{{id}}'>
    <img src='{{poster_path}}' alt='' data-source='{{backdrop_path}}' />
    <h2>{{title}}</h2>
    <p>{{genre_ids}}</p>
    <p>{{release_date}}</p>
  </div>
</li> --}}
{{#each this}}
  <li class='gallery-item-card' data-id='{{this.id}}'>
    <div class='card'>
      <div class='poster-container'>
        <span class='film-rating'>{{this.vote_average}}</span>
        {{#if poster_path}}
          <img
            class='poster'
            data-source='https://image.tmdb.org/t/p/w500{{this.backdrop_path}}'
            alt='{{this.title}}'
            src='https://image.tmdb.org/t/p/w500{{this.poster_path}}'
          />
        {{else}}
          <img
            src='https://cdn.pixabay.com/photo/2015/09/09/17/51/film-932154_960_720.jpg'
            alt='{{original_title}}'
          />

        {{/if}}
      </div>
      <div class='text-container'>
        <h2 class='text-title'>{{this.original_title}}</h2>
        <div class='text-details'>
          <p class='text-ganre'>{{this.genre_ids}} | {{this.release_date}}</p>
          <p class='text-rating is-hidden'>{{this.vote_average}}</p>
        </div>
      </div>
      {{! <button type='button' class='btnremove'>X</button> }}
    </div>
  </li>
{{/each}}